---
import BaseLayout from "../../layouts/BaseLayout.astro";
const base = import.meta.env.BASE_URL;
---
<BaseLayout title="技術記事 | hiziriex lab">
  <div class="page-top">
    <div class="container-top">
      <section class="page-section">
        <h2>技術記事</h2>
        <div class="card">
          <h3>基礎</h3>
          <ul class="link-list">
            <li><a href={`${base}/articles/rms/`}>実効値とは</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</BaseLayout>